html {
  scroll-behavior: smooth;
}
.myheader {
  text-align: center;
}

.profilepic {
  border-radius: 50%;
}
#about {
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  image-resolution: 273px, 183px;
  height: 28em;
}
#projects h1 {
  margin-top: 0.75cm;
  margin-bottom: 0.75cm;
  text-align: center;
}
.carousel-inner h5 {
  color: black;
  font-size: 30px;
}
.carousel-inner p {
  color: black;
  font-size: 20px;
}
.carousel-inner img {
  opacity: 0.5;
}
#contact {
  background-color: #eee;
  display: block;
  text-align: center;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}
.Skills {
  padding-top: 1cm;
  padding-bottom: 1cm;
  background-color: #eee;
  /*align-items: center;
  justify-content: center;
  align-content: center;*/
  display: flex;
  flex-direction: column;
  /* width: 25%;*/
  text-align: center;
  align-items: center;
  /* margin-left: initial;*/
}
.Skills h1 {
  padding-bottom: 0.5cm;
}
.Skills img {
  height: 100px;
  /*display: flex;
  flex-direction: column;
  float: left;*/
  padding-left: 0.3cm;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  /*-webkit-filter: grayscale(100%);
  filter: grayscale(100%);*/
}

.Skills img:hover {
  /*filter: none;
  -webkit-filter: grayscale(0);*/
  -webkit-transform: scale(1.05);
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other 
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns 
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
*/
