
.introduction{
    padding-top: 1cm;
    text-align: center;
    color: #333;
}
.conatainer-padding{
    padding-top:3cm;
}
.searchbutton{
    align-self: center;
}
#search{
    padding-left: 2cm;
    width:70%;
    align-items: center;
    height: 1cm;
}
#submit{
    width:20%;
    height: 1cm;
}